POSTGRES_USER=platform
POSTGRES_PASSWORD=platform_secret
POSTGRES_DB=platform_db
JWT_SECRET=change_me_in_production
GRAFANA_PASSWORD=admin
MLFLOW_TRACKING_URI=http://mlflow:5000
ENVIRONMENT=development
LIVY_URL=http://livy:8998
INTERNAL_SERVICE_TOKEN=internal-token-change-me
